
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
    font-size: 25px;
    font-weight: 300;
}

/* ================= NAVBAR ================= */

.Navbar {
    position: fixed;
    top: 0;
    left: 5%;
    z-index: 1000;
    width: 90%;
    height: 120px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    transition: 0.5s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.logo h2 {
    font-size: 35px;
    color: black;
    font-weight: 600;
}

#menu-toggle {
    display:none;
}

.hamburger {
    display:none;
}

.navbar {
    display: flex;
    list-style: none;
    gap: 25px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: 500;
}

.navbar a:hover {
    color: skyblue;
}


/* ================= HERO ================= */

.hero {
    position: relative;
    height: 110vh;
    width: 100%;
    padding: 100px 40px;
    min-height: 650px;
    background-image: url(../assets/image4.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    color: white;
    font-weight: 500;
}

.hero-content p:first-child {
    font-size: 14px;
    letter-spacing: 3px;
}

.hero-content h1 {
    font-size: 95px;
    margin: 45px 0;
    font-weight: 600;
}

.hero-content p {
    font-size: 20px;
    font-weight: 500;
}

.hero-btn {
    display: inline-block;
    margin-top: 30px;
    padding: 14px 30px;
    color: white;
    text-decoration: none;
    background: linear-gradient(to right, orange 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right;
    background-color: gold;
    transition: 0.5s ease;
    font-weight: 500;
    border-radius: 7px;
}

.hero-btn:hover {
    background-position: left;
}


/* ================= BOOKING ================= */

.booking-box {
    width: 85%;
    height: 250px;
    max-width: 1200px;
    margin: -250px auto 0;
    background-color: #07111f;
    position: relative;
    z-index: 10;
    display: grid;
    grid-template-columns: 180px 180px 180px 180px 180px 220px;
    grid-template-rows: 70px 55px;
    align-items: center;
    gap: 10px;
    padding: 50px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.booking-title {
    grid-column: 1 / -1;
    text-align: center;
    margin-right: 20px;
    margin-top: -80px;
    margin-bottom: -50px;
}

.booking-title h2 {
    color: white;
    font-size: 55px;
    line-height: 1.2;
}

.booking-field {
    width: 180px;
    height: 55px;
    border: 1px solid #394353;
    padding: 35px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -50px;
    margin-top: -40px;
}

.booking-field label {
    color: #aaa;
    font-size: 15px;
    margin-bottom: 5px;
}

.booking-field input,
.booking-field select {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 17px;
}

.booking-field select option {
    color: black;
}

.book-bts {
    width: 160px;
    height: 55px;
    background-color: #f5b400;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 10px;
    margin-bottom: -40px;
    padding: 10px 20px;
    text-align: center;
    margin-top: -30px;

}

.book-bts:hover {
    background-color: #d99d00;
}


/* ================= ACCOMMODATION ================= */

.accommodation {
    padding: 80px 40px;
    background-color: white;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.section-title p {
    color: black;
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 28px;
}

.section-title h2 {
    color: gold;
    font-size: 60px;
    margin: 19px 0;
    font-weight: bold;
    line-height: 1.3;
}

.section-title span {
    color: #777;
    font-size: 24px;
}

.room-container {
    width: 100%;
    max-width: 1600px;
    margin: 30px auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.room {
    min-width: 0;
    overflow: hidden;
    background-color: whitesmoke;
    border-radius: 10px;
}

.room-image {
    position: relative;
    overflow: hidden;
}

.room img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
    transition: transform 0.5s ease;
    border-radius: 10px;
}

.room:hover img {
    transform: scale(1.1);
}

.book-btn {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    background-color: #e8b600;
    color: white;
    padding: 14px 28px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    z-index: 2;
    border-radius: 5px;
}

.book-btn:hover {
    background-color: #c99d00;
}

.room-details {
    text-align: center;
    padding: 15px 5px;
}

.room-details h3 {
    font-size: 25px;
    margin: 5px 0;
}

.room-details h4 {
    color: #69c4d1;
    font-size: 27px;
    margin: 5px 0;
}

.room-details h4 span {
    color: #aaa;
    font-size: 15px;
    font-weight: normal;
}


/* ================= FACILITIES ================= */

.facilities {
    padding: 90px 8%;
    background-image: url(../assets/gemini6.png);
    background-size: cover;
    background-position: center;
}

.facilities-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.facility-card {
    padding: 50px;
    border: 2px solid #eee;
    border-radius: 10px;
    color: black;
}

.facility-card h3 {
    margin-bottom: 15px;
    font-size: 40px;
    color: black;
    line-height: 1.2;
}

.facility-card p {
    color: white;
    line-height: 1.6;
    font-size: 23px;
}


/* ================= ABOUT US ================= */

.about-section {
    width: 80%;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.about-content {
    width: 100%;
}

.about-content h1 {
    font-size: 55px;
    line-height: 1.2;
    color: #263445;
}

.about-content p {
    color: #888;
    line-height: 1.8;
    margin: 30px 0;
    font-size: 29px;
}

.about-content button {
    background: #263445;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 5px;
}

.about-content button:hover {
    background-color: #f5b400;
}

.about-image {
    width: 100%;
}

.about-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}


/* ================= TESTIMONIAL ================= */

.testimonial-section {
    width: 100%;
    height: 800px;
    margin: 100px auto;
    padding: 25px;
    text-align: center;
    background-color: lightgray;
}

.testimonial-section h1,
.blog-section h1 {
    font-size: 45px;
    color: #263445;
    margin: 29px;
}

.subtitle {
    color: #999;
    margin-bottom: 50px;
}
.testimonial-section p{
    font-size: 22px;
    line-height: 1.3;
}

.testimonial-container {
    display: flex;
    gap: 80px;
    justify-content: center;
}

.testimonial {
    width: 45%;
    display: flex;
    align-items: center;
    gap: 30px;
    text-align: left;
    padding: 30px;
    background: #fafafa;
    margin: 50px;
    border-radius: 10px;
}

.testimonial img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial p {
    color: #999;
    line-height: 1.9;
}

.testimonial h3 {
    color: #263445;
    line-height: 1.4;
}

.stars {
    color: #f5b400;
}


/* ================= BLOG ================= */

.blog-section {
    width: 80%;
    margin: 100px auto;
    text-align: center;
    font-size: 20px;
}

.subtitle {
    color: grey;
    font-size: 25px;
    margin: 12px;
}

.blog-container {
    display: flex;
    gap: 50px;
}

.blog-card {
    width: 33.33%;
    text-align: left;
}

.blog-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 1px solid white;
    transition: transform 0.8s ease;
}

.blog-card:hover img {
    filter: drop-shadow(0 0 15px);
    animation: cinematic 2s ease-in-out;
}

@keyframes cinematic {
    0% {
        transform: scale(1.1) translateX(-15px);
    }

    100% {
        transform: scale(1.1) translateX(15px);
    }
}

.blog-card p {
    color: white;
    margin-top: 20px;
    display: inline;
    border: 1px solid #263445;
    padding: 5px;
    font-size: 20px;
    background: linear-gradient(to right, orange 50%, transparent 50%);
    background-size: 200% 100%;
    background-color:#263445;
    background-position: right;
    border-radius: 5px;
    transition: 0.5s;
    font-family:Arial, sans-serif;
}

.blog-card p:hover {
    background-position: left;
}

.blog-card h2 {
    color: #263445;
    margin: 35px;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
}

.blog-card span {   
    color: gray;
    line-height: 1.6;
    font-size: 23px;
    font-family: Arial,sans-serif;
}


/* ================= FOOTER ================= */
.footer {
    background: #04091e;
    color: #777;
    padding: 80px 4% 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 180px;
}

.footer-container {
    max-width: 1400px;
    margin: 150px;
    display: grid;
    align-items: center;
    grid-template-columns: 1.2fr 1.2fr 1.2fr 1fr;
    gap: 60px;
}

.footer-col h3 {
    color: white;
    font-size: 24px;
    margin-bottom: 35px;
}

.footer-col p {
    font-size: 20px;
    line-height: 1.9;
}

.footer-links {
    display: flex;
    gap: 60px;
}

.footer-links a {
    display: block;
    color: #777;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 18px;
}

.footer-links a:hover {
    color: orange;
}

.newsletter {
    display: flex;
    margin-top: 30px;
}

.newsletter input {
    width: 280px;
    padding: 16px;
    background: transparent;
    border: 1px solid #333;
    color: white;
    outline: none;
    font-size: 17px;
}

.newsletter button {
    width: 55px;
    border: none;
    background: #f9c400;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.insta-feed {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.insta-feed img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.footer-bottom {
    max-width: 1400px;
    margin: 60px auto 0;
    padding-top: 35px;
    border-top: 1px solid #252a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.footer-bottom span {
    color: #f9c400;
}

.social {
    display: flex;
    gap: 30px;
}

.social a {
    color: #777;
    text-decoration: none;
    font-size: 24px;
}

.social a:hover {
    color: white;
}



/* =========================================
   TABLET RESPONSIVE
   ========================================= */

@media (min-width: 768px) and (max-width: 1024px) {

    /* NAVBAR */

    .Navbar {
        width: 94%;
        left: 3%;
        height: 75px;
        padding: 0 25px;
    }

    .logo h2 {
        font-size: 25px;
    }

    #menu-toggle {
        display: none;
    }

    .hamburger {
        display: block;
        font-size: 30px;
        cursor: pointer;
        color: black;
        z-index: 1002;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        padding: 10px 0;
        margin: 0;
        background: white;
        flex-direction: column;
        align-items: center;
        gap: 0;
        box-shadow: 0 5px 15px rgba(0,0,0,0.15);
        z-index: 1001;
    }

    #menu-toggle:checked ~ .navbar {
        display: flex;
    }

    .navbar a {
        display: block;
        width: 100%;
        padding: 10px;
        text-align: center;
        font-size: 20px;
    }


    /* HERO */

    .hero {
        height: 80vh;
        min-height: 550px;
        padding: 100px 30px;
    }

    .hero-content h1 {
        font-size: 60px;
    }


    /* BOOKING */

    .booking-box {
        width: 99%;
        height: auto;
        margin: -5px auto 0;
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    .booking-title {
        width: 100%;
    }
    .booking-title h2{
        font-size: 45px;
        margin-top: 30px;
    }

    .booking-field {
        width: 100%;
        padding: 20px 25px;
        margin: 2px;
    }

    .book-bts {
        width: 100%;
        margin-left:0;
        margin-top: -35px;
    }


    /* ROOMS */

    .accommodation {
        padding: 60px 25px;
    }
    .section-title h2{
        font-size: 50px;
        line-height: 1.5;
    }

    .section-title p{
        line-height: 1.5;
    }

    .room-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .room img {
        height: 350px;
    }


    /* FACILITIES */

    .facilities {
        padding: 60px 25px;
    }

    .facilities-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }


    /* ABOUT */

    .about-section {
        width: 90%;
        gap: 30px;
    }

    .about-content,
    .about-image {
        width: 50%;
    }

    .about-content h1 {
        font-size: 35px;
    }

    .about-content p {
        font-size: 17px;
    }


    /* TESTIMONIAL */

    .testimonial-container {
        gap: 15px;
        margin-bottom:70px;
    }
    .subtitle {
        margin: 20px;
    }

    .testimonial {
        width: 48%;
        margin: 9px 0;
        padding: 20px;
    }
    .testimonial h3{
        font-size: 20px;
        line-height: 1.6;
    }
    .testimonial p{
        font-size: 20px;
    }


    /* BLOG */

    .blog-section {
        width: 100%;
    }

    .blog-container {
        gap: 10px;
    }
    .blog-card img{
        margin-left: 9px;
        width: 100%;
    }
    .blog-card p{
        margin-left: 9px;
        padding: 6px;
    }
    .blog-card h2{
        font-size: 25px;
        line-height: 1.2;
    }
    .blog-card span{
        font-size: 15px;
        font-family:'poppins',sans-serif;
    }
    
    .subtitle{
        font-size: 20px;
        font-weight: 500;
    }


    /* FOOTER */

    .footer {
        width: 100%;
        padding: 60px 30px 40px;
        background: #04091e;
        text-align: center;
    }

    .footer-container {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 25px;
    }

    .footer-col {
        width: 100%;
    }

    .footer-col h3 {
        font-size: 21px;
        margin-bottom: 20px;
        color: white;
    }

    .footer-col p {
        font-size: 16px;
        line-height: 1.7;
        color: #777;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .footer-links a {
        font-size: 15px;
        margin-bottom: 8px;
        color: #777;
        margin: 10px;
    }

    .newsletter {
        width: 100%;
        display: flex;
        margin-top: 20px;
    }

    .newsletter input {
        width: calc(100% - 55px);
        padding: 14px;
        font-size: 14px;
    }

    .newsletter button {
        width: 55px;
        flex-shrink: 0;
    }

    .insta-feed {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        justify-items: center;
    }

    .insta-feed img {
        width: 60px;
        height: 60px;
    }

    .footer-bottom {
        width: 100%;
        margin: 40px auto 0;
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .footer-bottom p {
        font-size: 15px;
        margin: 0;
        color: white;
    }
    .footer-bottom span{
        color: orange;
    }

    .social {
        display: flex;
        justify-content: center;
        gap: 25px;
    }

    .social a {
        font-size: 21px;
        color:#777;
    }
}
/* =========================================================
   MOBILE RESPONSIVE - MAX WIDTH 480px
   ========================================================= */

@media (max-width: 480px){

    /* ================= GENERAL ================= */

    * {
        box-sizing: border-box;
    }

    html,
    body {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    /* ================= NAVBAR ================= */

    .Navbar {
        position: fixed;
        top: 0;
        left: 2%;
        width: 96%;
        height: 70px;
        min-height: 70px;
        padding: 0 18px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
    }

    .logo h2 {
        font-size: 20px;
    }

    /* HAMBURGER */

    #menu-toggle {
    display: none;
}

.hamburger {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: black;
    z-index: 1002;
}

.navbar {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    align-items: center;
    z-index: 1001;
}

#menu-toggle:checked ~ .navbar {
    display: flex;
}

.navbar a {
    display: block;
    width: 100%;
    padding: 12px;
    text-align: center;
}

    /* ================= HERO ================= */

    .hero {
        width: 100%;
        height: 80vh;
        min-height: 500px;
        padding: 100px 15px 40px;
        background-position: center;
    }

    .hero-content {
        width: 100%;
        font-size: 16px;
        font-weight: 500;
    }

    .hero-content p:first-child {
        font-size: 11px;
        letter-spacing:2px;
    }

    .hero-content h1 {
        font-size: 45px;
        line-height: 1.2;
        margin: 20px 0;
        font-weight: 700;
    }

    .hero-content p {
        font-size: 14px;
        line-height: 1.;
        font-weight: 600;
    }

    .hero-btn {
        margin-top: 25px;
        padding: 12px 24px;
        font-size: 14px;
    }


    /* ================= BOOKING BOX ================= */

    .booking-box {
        width: 100%;
        max-width: 100%;
        height: 450px;
        margin: -40px auto 0;
        padding: 25px 18px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
        position: relative;
    }

    .booking-title {
        width: 100%;
        text-align: center;
        padding: 45px 20px;
        margin-top:0;
    }

    .booking-title h2 {
        font-size: 21px;
        margin-top: -40px;
    }

    .booking-field {
        width: 100%;
        height: 50px;
        padding: 1px 10px;
        margin: 1px;
    }

    .booking-field input,
    .booking-field select {
        width: 100%;
        font-size: 13px;
    }

    .book-bts {
        width: 100%;
        height: 50px;
        margin-left: -1px;
        margin-top: 10px;
    }


    /* ================= ACCOMMODATION ================= */

    .accommodation {
        width: 100%;
        padding: 60px 15px;
        margin-top: -50px;
    }

    .section-title {
        width: 100%;
        margin-bottom: 35px;
    }

    .section-title p {
        font-size: 15px;
        margin-top: 15px;
    }

    .section-title h2 {
        font-size: 40px;
        margin: 10px 0;
    }

    .section-title span{
        font-size: 17px;
    }

    .room-container {
        width: 100%;
        max-width: 100%;
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .room {
        width: 100%;
    }

    .room-image {
        width: 100%;
    }

    .room img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    .room-details {
        width: 100%;
        padding: 15px 5px;
    }

    .room-details h3 {
        font-size: 19px;
    }

    .room-details h4 {
        font-size: 21px;
    }

    .room-details h4 span {
        font-size: 13px;
    }

    .book-btn {
        padding: 10px 18px;
        font-size: 13px;
        bottom: 15px;
    }


    /* ================= FACILITIES ================= */

    .facilities {
        width: 100%;
        padding: 60px 15px;
        background-size: cover;
        background-position: center;
    }

    .facilities-container {
        width: 100%;
        max-width: 100%;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .facility-card {
        width: 100%;
        padding: 30px 20px;
    }

    .facility-card h3 {
        font-size: 28px;
    }

    .facility-card p {
        font-size: 14px;
        line-height: 1.6;
    }


    /* ================= ABOUT ================= */

    .about-section {
        width: 90%;
        margin: 60px auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .about-content,
    .about-image {
        width: 100%;
    }

    .about-content h1 {
        font-size: 32px;
        line-height: 1.2;
    }

    .about-content p {
        font-size: 16px;
        line-height: 1.7;
        margin: 20px 0;
    }

    .about-content button {
        padding: 13px 25px;
    }

    .about-image {
        width: 100%;
    }

    .about-image img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }


    /* ================= TESTIMONIAL ================= */

    .testimonial-section {
        width: 100%;
        height: auto;
        margin: 60px auto;
        padding: 30px 15px;
    }

    .testimonial-section h1,
    .blog-section h1 {
        font-size: 28px;
        line-height: 1.3;
        margin: 15px;
    }

    .subtitle {
        font-size: 16px;
        line-height: 1.5;
        margin: 12px 0 30px;
    }

    .testimonial-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .testimonial {
        width: 100%;
        margin: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        text-align: center;
    }

    .testimonial img {
        width: 70px;
        height: 70px;
    }

    .testimonial p {
        font-size: 14px;
        line-height: 1.6;
    }


    /* ================= BLOG ================= */

    .blog-section {
        width: 90%;
        margin: 60px auto;
        font-size: 17px;
    }

    .blog-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .blog-card {
        width: 100%;
    }

    .blog-card img {
        width: 100%;
        height: 220px;
        object-fit: cover;
    }

    .blog-card p {
    display: inline-block;
    font-size: 13px;
    background: linear-gradient(to right, orange 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right;
    background-color: #263445;
    transition: background-position 0.5s ease;
    }

    .blog-card p:active {
    background-position: left;
    }
    .blog-card h2 {
        font-size: 21px;
        margin: 20px 0;
    }

    .blog-card span {
        font-size: 16px;
        line-height: 1.6;
    }


    /* ================= FOOTER ================= */

    .footer {
        width: 100%;
        padding: 50px 20px 30px;
        background: #04091e;
        text-align: center;
    }

    .footer-container {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }


    .footer-col {
        width: 100%;
        display: block;
    }

    .footer-col h3 {
        color: white;
        font-size: 21px;
        margin-bottom: 15px;
    }

    .footer-col p {
        color: #777;
        font-size: 15px;
        line-height: 1.7;
        margin: 0;
    }

    .footer-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .footer-links a {
        display: block;
        width: 100%;
        color: #777;
        font-size: 15px;
        text-decoration: none;
        margin-bottom: 12px;
    }

    .footer-links a:hover {
        color: orange;
    }

    /* Newsletter */
    .newsletter {
        width: 100%;
        display: flex;
        margin-top: 20px;
    }

    .newsletter input {
        width: calc(100% - 50px);
        height: 48px;
        padding: 12px;
        font-size: 14px;
        box-sizing: border-box;
    }

    .newsletter button {
        width: 50px;
        height: 48px;
        flex-shrink: 0;
    }

    /* Instagram images */
    .insta-feed {
        width: 140px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 60px);
        justify-content: center;
        gap: 10px;
    }

    .insta-feed img {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }

    /* Copyright */
    .footer-bottom {
        width: 100%;
        margin: 35px auto 0;
        padding-top: 25px;
        border-top: 1px solid #252a3a;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        text-align: center;
    }

    .footer-bottom p {
        font-size: 14px;
        line-height: 1.6;
        margin: 0;
        color: white;
    }

    .footer-bottom span {
        color: #f9c400;
    }

    /* Social icons */
    .social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .social a {
        color: #777;
        font-size: 20px;
        text-decoration: none;
    }

    .social a:hover {
        color: white;
    }
}
/* =========================================================
   EXTRA SMALL MOBILE - MAX WIDTH 360px
   ========================================================= */

@media (max-width: 360px) {

    .Navbar {
        left: 2%;
        width: 96%;
        padding: 0 14px;
    }

    .logo h2 {
        font-size: 17px;
    }

    .hamburger {
        font-size: 27px;
    }

    .hero-content h1 {
        font-size: 32px;
    }

    .booking-box {
        width: 94%;
        max-width: 94%;
        padding: 20px 15px;
    }

    .section-title h2 {
        font-size: 27px;
    }

    .room img {
        height: 320px;
    }

    .about-content h1 {
        font-size: 28px;
    }

    .testimonial-section h1,
    .blog-section h1 {
        font-size: 25px;
    }

    .footer {
        padding: 40px 12px 25px;
    }

    .footer-container {
        gap: 30px;
    }

    .footer-col h3 {
        font-size: 18px;
    }

    .footer-col p,
    .footer-links a {
        font-size: 13px;
    }

    .newsletter input {
        font-size: 12px;
        padding: 11px;
    }

    .insta-feed {
        width: 125px;
        gap: 8px;
    }

    .insta-feed img {
        width: 52px;
        height: 52px;
    }

    .footer-bottom p {
        font-size: 12px;
    }

    .social {
        gap: 16px;
    }

    .social a {
        font-size: 18px;
    }
}
